---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Syamsul is a Flutter Engineer with experiences building responsive and user-friendly mobile applications level products.
		</p>
		<p>He will be happy to work and collaborate in any project as a Flutter engineer. His main stacks are Flutter.</p>
	</div>
</div>


